* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body
{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
	width: 100%;
	
	font-size: 1em;
}

.app
{
	width: 100%;
	height: 100%;
}

.page
{
	padding: 20px;
}

.hidden
{
	display: none;
}

#pgConsole pre
{
	width: 100%;
	height: 100%;
	overflow: scroll;
}

button
{
	padding: 20px 15px;
	border: solid 1px #ccc;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

button:disabled
{
	background: #ececf1 !important;
	border-color: #e2e2e7 !important;
}

button.blue
{
	background: #76e2f8;
	border-color: #25d9f8;
}

button.orange
{
	background: #ff9f00;
	border-color: #ff7816;
}

button.yellow
{
	background: #ffe470;
	border-color: #ffd400;
}
button.green
{
	background: #70ff77;
	border-color: #00ff0c;
}

div.status div
{
	padding-bottom: 5px;
	border-bottom: solid 2px #25d9f8;
	margin-bottom: 20px;
}

div.status div.green
{
	border-bottom-color: #00ff0c;
}
div.status div.yellow
{
	border-bottom-color: #ffd400;
}
div.status div.red
{
	border-bottom-color: #ff7816;
}

img.logo
{
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 20px;
}