* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	padding: 0;
	margin: 0
}

*:focus
{
	outline: none;
}

body
{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
	width: 100%;
	
	font-size: 1em;
}

.app
{
	width: 100%;
	height: 100%;
}

.page
{
	padding: 20px 20px 80px 20px;
    height: 100%;
    box-sizing: border-box;
}

.hidden
{
	display: none;
}

#pgConsole pre
{
	width: 100%;
	height: 100%;
	overflow: scroll;

	box-sizing: border-box;
	padding: 5px;

	font-family: 'Courier New', Courier, monospace;
	font-size: 8pt;

	color: #00ff0c;
	background-color: #444;
}

#pgConsole pre .error
{
	color: #ff7816;
}

.page button
{
	padding: 20px 15px;
	border: solid 1px #ccc;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

button:disabled
{
	background: #ececf1 !important;
	border-color: #e2e2e7 !important;
}

button.blue
{
	background: #76e2f8;
	border-color: #25d9f8;
}

button.blue:active
{
	background: #25d9f8;
}

button.orange
{
	background: #ff9f00;
	border-color: #ff7816;
}

button.orange:active
{
	background: #ff7816;
}

button.yellow
{
	background: #ffe470;
	border-color: #ffd400;
}

button.yellow:active
{
	background: #ffd400;
}

button.green
{
	background: #70ff77;
	border-color: #00ff0c;
}

button.green:active
{
	background: #00ff0c;
}






div.status div
{
	padding-bottom: 5px;
	border-bottom: solid 2px #444;
	margin-bottom: 20px;
}

div.status span.status
{
	font-weight: bold;
}

div.status svg
{
	display: none;
	width: 18px;
	vertical-align: top;
}



div.status div.interlock.disengaged,
div.status div.firing-mechanism.disengaged,
div.status div.voltage.ok,
div.status div.pad-status.disarmed,
div.status div.location.found,
div.status div.conn-status.connected,
div.status div.command-timeout.ok
{
	border-bottom-color: #00ff0c;
}
div.status div.interlock.disengaged svg.disengaged,
div.status div.firing-mechanism.disengaged svg,
div.status div.voltage.ok svg,
div.status div.pad-status.disarmed svg.disarmed,
div.status div.location.found svg,
div.status div.conn-status.connected svg.connected,
div.status div.command-timeout.ok svg
{
	fill: #00ff0c;
	display: inline-block;
}

div.status div.pad-status.armed,
div.status div.command-timeout.idle
{
	border-bottom-color: #25d9f8;
}
div.status div.pad-status.armed svg.armed,
div.status div.command-timeout.idle svg
{
	fill: #25d9f8;
	display: inline-block;
}

div.status div.voltage.low,
div.status div.pad-status.continuity-test-passed,
div.status div.command-timeout.warning
{
	border-bottom-color: #ffd400;
}
div.status div.voltage.low svg,
div.status div.pad-status.continuity-test-passed svg.continuity-test-passed,
div.status div.command-timeout.warning svg
{
	fill: #ffd400;
	display: inline-block;
}

div.status div.interlock.engaged,
div.status div.firing-mechanism.engaged,
div.status div.voltage.flat,
div.status div.pad-status.firing,
div.status div.location.unknown,
div.status div.conn-status.disconnected,
div.status div.command-timeout.elapsed
{
	border-bottom-color: #ff7816;
}
div.status div.interlock.engaged svg.engaged,
div.status div.firing-mechanism.engaged svg,
div.status div.voltage.flat svg,
div.status div.pad-status.firing svg.firing,
div.status div.location.unknown svg,
div.status div.conn-status.disconnected svg.disconnected,
div.status div.command-timeout.elapsed svg
{
	fill: #ff7816;
	display: inline-block;
}





menu
{
    width: 100%;
    overflow: auto;
    height: 58px;
    padding-top: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

menu div
{
	float: left;
	width: 25%;
	text-align: center;
}

menu button
{
	display: inline-block;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	border: 0;
	background-size: 48px 48px;
	background-color: #fff;
	color: #666;
}

menu button svg
{
	width: 32px;
	height: 32px;
	fill: #666;
}

menu button[disabled]
{
	background-color: #fff !important;
	color: #ccc;
}

menu button[disabled] svg
{
	fill: #ccc;
}

menu button:active
{
	color: #000;
}

menu button:active svg
{
	fill: #000;
}

menu button.current
{
	color: #25d9f8;
}

menu button.current svg
{
	fill: #25d9f8;
}


fieldset
{
	border: 0;
}

label
{
	display: block;
}

input[type=text]
{
	padding: 5px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0 10px 0;
	font-size: 20px;
}

fieldset.toggle
{
	position: relative;
	width: 100%;
	overflow: auto;
	margin-bottom: 10px;
}

fieldset.toggle input[type=radio]
{
	opacity: 0;
	position: absolute;
	width: 1px;
	height: 1px;
	pointer-events: none;
}

fieldset.toggle label
{
	padding: 20px 15px;
	border: solid 1px #ccc;
	display: block;
	margin: 0px;
	float: left;
	background-color: #ddd;
	width: 50%;
	box-sizing: border-box;
}

fieldset.toggle input[type=radio]:checked + label
{
	border-color: #00ff0c;
	background-color: #70ff77;
}